{{#if model.bumped_at_with_button }}
  <span class="right">{{i18n "bump_topic.last_bumped"}}: {{format-date model.bumped_at_with_button format="medium" noTitle="true" leaveAgo="true"}}</span>
{{/if}}
