{{#if this.siteSettings.bump_topic_enabled}}
<section class='field'>
  <div class="enable-bump-topics">
    <label class="checkbox-label">
      {{input type="checkbox" checked=category.enable_bump_topics}}
      {{i18n 'bump_topic.enable_bump_topic'}}
    </label>
  </div>
</section>
{{/if}}
